{% extends 'base.html' %}
{% block dragonvideo_block %}<li class="active">{% endblock %}
{% block head_block %}Video !!!{% endblock %}

{% block body_block %}


<div class="jumbotron">
    <div class="container">
        <h3><a href="/videocar">Video Car</a></h3>
        <h3><a href="/detectcarnumber">Detect Car Number</a></h3>
        <h3><a href="/detectpeopleface">Detect Face</a></h3>
        <h3><a href="/managefacepic">List Face Picture</a></h3>
        <h3><a href="/qrscan">QR Code Scan</a></h3>
    </div>
</div>


{% endblock %}

